.dangnhap{
	color: #FFFFFF;

	}
.dangky{
	padding-left: 370px;
	color: #FFFFFF;
}
.lc{
	color: #FFFFFF;
}
.fa fa-phone{
	color: #FFFFFF;
}
span {
	color: #f9004d;
}
span{
	color: red;
}